exclude: migrations/.*\.py|Procfile|[aw]sgi\.py|node_modules|.git|\.polar|inputs/.*
repos:
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.14.0
  hooks:
  - id: django-upgrade
    args: [--target-version, '4.2']
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-toml
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: detect-aws-credentials
  - id: detect-private-key
  - id: file-contents-sorter
    files: requirements.*\.in
  - id: mixed-line-ending
    args: [--fix, lf]
- repo: https://github.com/asottile/pyupgrade
  rev: v3.7.0
  hooks:
  - id: pyupgrade
    args: [--py311-plus]
- repo: https://github.com/asottile/yesqa
  rev: v1.5.0
  hooks:
  - id: yesqa
- repo: https://github.com/myint/docformatter
  rev: v1.7.3
  hooks:
  - id: docformatter
    args: [--in-place]
- repo: https://github.com/hadialqattan/pycln
  rev: v2.1.5
  hooks:
  - id: pycln
    args: [--config=pyproject.toml]
- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/myint/autoflake
  rev: v2.2.0
  hooks:
  - id: autoflake
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.9.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
- repo: https://github.com/mrtazz/checkmake
  rev: 0.2.2
  hooks:
  - id: checkmake
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.0.0-alpha.9-for-vscode
  hooks:
  - id: prettier
    types_or: [css, javascript]
    exclude: .min.
- repo: https://github.com/rtts/djhtml
  rev: 3.0.6
  hooks:
  - id: djhtml
