[role="button"],
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  &.positive {
    --primary-focus: color-mix(in srgb, var(--positive), transparent 80%);
    --primary: var(--positive);
    --primary-hover: var(--positive-hover);
  }

  &.negative {
    --pico-background-color: var(--negative);
    --pico-border-color: var(--negative);

    &:hover {
      --pico-background-color: var(--negative-hover);
      --pico-border-color: var(--negative-hover);
    }
  }
}
