.calender-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1em;
  padding-top: 1em;

  h1 {
    margin: 0;
    font-size: 1.4rem;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  [role="button"] {
    padding: 0.25em;
    line-height: 1em;
  }

  svg {
    height: 1em;
  }
}

.calender {
  &.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: min(0.5vw, 0.5em);

    & > * {
      overflow: hidden;
      padding: min(0.25vh, 0.25em) min(0.5vw, 0.5em);
      font-size: 0.8rem;

      &.heading {
        text-align: center;
      }

      &:has(a) {
        border: var(--pico-border-width) solid var(--pico-muted-border-color);
        border-radius: var(--pico-border-radius);
        min-height: max(16vh, 5em);
      }

      ul {
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;
        gap: 0.25em;

        li {
          list-style: none;
          padding: 0;
          margin: 0;
          background: var(--display-colour);
          text-shadow: 0 0 0.3em var(--pico-contrast-inverse);
          border-radius: 0.25em;
          cursor: grab;
          padding: 0 0.25em;
          line-height: 2em;
        }
      }

      a {
        --day-color: var(--pico-color);
        color: var(--day-color);
        text-decoration: none;
        border-bottom: 0.075em solid transparent;
        transition: 0.2s all ease-in-out;
        &:hover {
          text-decoration: none;
          border-bottom-color: var(--day-color);
        }
      }

      &.today {
        background: var(--pico-muted-border-color);
        a {
          --day-color: var(--pico-contrast);
        }
      }

      &:not(.current) {
        a {
          color: var(--pico-muted-color);
          text-decoration-color: var(--pico-muted-color);
          &:hover {
            text-decoration: none;
            border-bottom-color: var(--pico-muted-color);
          }
        }
      }
    }
  }
}
