article {
  & header {
    &:has(hgroup) {
      display: flex;

      & hgroup {
        flex: 1;
      }
    }
  }

  footer {
    a {
      &:has(svg) {
        display: flex;
        align-items: center;
        gap: 0.25em;
      }
      svg {
        height: 1em;
        width: 1em;
        aspect-ratio: 1;
      }
    }
  }
}
