#day {
  ol {
    padding: 0;
    margin: 0;

    --height: 1.5rem;

    & > li {
      list-style: none;
      padding: 0;
      margin: 0;

      font-size: 0.8rem;
      height: var(--height);

      display: flex;
      gap: 1em;

      & + li {
        border-top: 1px solid var(--pico-muted-border-color);
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .booking {
    display: inline-block;
    background: var(--display-colour);
    height: var(--height);
    z-index: 10;
    position: relative;
    padding: 0 0.5em;
    line-height: var(--height);
    box-sizing: border-box;
  }

  .booking-group {
    &:has(> :nth-child(2)) {
      background: var(--pico-primary-background);
      --grab-size: 2em;
      padding-left: var(--grab-size);
      display: inline-flex;
      gap: 0.5em;
      border-radius: 0.25em;
      position: relative;

      /* prettier-ignore */
      &::before {
/*[[[cog
import cog
with open('./cerberus_crm/static/icons/dots-grid.svg') as f:
    cog.outl(f"""mask-image: url('data:image/svg+xml; utf8,{f.read().replace("\n", "")}');""")
]]]*/
mask-image: url('data:image/svg+xml; utf8,<svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M19 6C19.5523 6 20 5.55228 20 5C20 4.44772 19.5523 4 19 4C18.4477 4 18 4.44772 18 5C18 5.55228 18.4477 6 19 6Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12C18 12.5523 18.4477 13 19 13Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M19 20C19.5523 20 20 19.5523 20 19C20 18.4477 19.5523 18 19 18C18.4477 18 18 18.4477 18 19C18 19.5523 18.4477 20 19 20Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M5 6C5.55228 6 6 5.55228 6 5C6 4.44772 5.55228 4 5 4C4.44772 4 4 4.44772 4 5C4 5.55228 4.44772 6 5 6Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M5 20C5.55228 20 6 19.5523 6 19C6 18.4477 5.55228 18 5 18C4.44772 18 4 18.4477 4 19C4 19.5523 4.44772 20 5 20Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>');
/*[[[end]]] (checksum: d717bfa602cbf88d3342cc90c1162296)*/
      }

      &::before {
        content: "";
        background: var(--pico-primary-hover);
        position: absolute;
        --icon-size: calc(var(--grab-size) * 0.75);
        width: var(--icon-size);
        height: var(--icon-size);
        left: calc((var(--grab-size) - var(--icon-size)) / 2.5);
        top: calc((var(--grab-size) - var(--icon-size)) / 2.5);
      }
    }
  }

  .dropzone {
    flex-grow: 1;
    display: inline-block;
    z-index: 1;
    position: relative;
    display: flex;

    &.adding {
      background: var(--pico-muted-border-color);
    }
  }

  /* prettier-ignore */
  .booking, .booking-group:has(:nth-child(2)) {
    /*[[[cog
import cog
for i in range(10):
    cog.outl(f"""&[data-length=\"{i * 15}\"] {{
    height: calc(var(--height) * {i});
}}""")
]]]*/
&[data-length="0"] {
    height: calc(var(--height) * 0);
}
&[data-length="15"] {
    height: calc(var(--height) * 1);
}
&[data-length="30"] {
    height: calc(var(--height) * 2);
}
&[data-length="45"] {
    height: calc(var(--height) * 3);
}
&[data-length="60"] {
    height: calc(var(--height) * 4);
}
&[data-length="75"] {
    height: calc(var(--height) * 5);
}
&[data-length="90"] {
    height: calc(var(--height) * 6);
}
&[data-length="105"] {
    height: calc(var(--height) * 7);
}
&[data-length="120"] {
    height: calc(var(--height) * 8);
}
&[data-length="135"] {
    height: calc(var(--height) * 9);
}
    /*[[[end]]] (checksum: 6eed404feabc94cd10444591fa3fe86b)*/
  }
}
