.fab {
  background: var(--primary);
  color: var(--primary-inverse);
  aspect-ratio: 1;

  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  position: fixed;
  display: flex;
  bottom: 1em;
  right: 1em;
  border-radius: 50%;
  width: 3em;
  height: 3em;

  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--primary-hover);
    color: var(--contrast-hover);
    text-decoration: none;
  }

  &:focus {
    background: var(--primary-focus);
    color: var(--contrast-focus);
    text-decoration: none;
  }

  &[data-char] {
    &::after {
      content: attr(data-char);
      font-size: 2.5em;
      display: block;
    }

    & span {
      display: none;
    }
  }

  svg {
    width: 2em;
    height: 2em;
  }
}
