.fab {
  background: var(--pico-primary-background);
  color: var(--pico-primary-inverse);
  aspect-ratio: 1;

  box-shadow: var(--pico-box-shadow);

  position: fixed;
  z-index: 999;
  display: flex;
  bottom: var(--pico-spacing);
  right: var(--pico-spacing);
  border-radius: 50%;
  width: var(--fab-size);
  height: var(--fab-size);

  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--pico-primary-hover-background);
    color: var(--pico-primary-hover);
    text-decoration: none;
  }

  &:focus {
    background: var(--pico-primary-hover-background);
    opacity: 0.8;
    text-decoration: none;
  }

  &[data-char] {
    display: block;
    &::before {
      content: attr(data-char);
      font-size: 2.5em;
      display: block;
      width: var(--fab-size);
      height: var(--fab-size);
      line-height: var(--fab-size);
      text-align: center;
    }

    & span {
      display: none;
    }
  }

  svg {
    width: calc(var(--fab-size) / 1.5);
    height: calc(var(--fab-size) / 1.5);
  }
}
