.filter-form {
  .form-group {
    &:has(.checkbox) {
      min-width: max-content;
      max-height: calc(
        (
            1rem * var(--pico-line-height) +
              var(--pico-form-element-spacing-vertical) * 2 +
              var(--pico-border-width) * 2
          ) + 2rem
      );
    }

    div:has(> .checkbox) {
      position: relative;
      max-height: calc(
        1rem * var(--pico-line-height) +
          var(--pico-form-element-spacing-vertical) * 2 +
          var(--pico-border-width) * 2
      );
      overflow: hidden;
      background: var(--pico-background-color);
      outline: 0em solid var(--pico-background-color);

      box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.75);

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--pico-background-color);
        background: linear-gradient(
          180deg,
          color-mix(in lab, transparent 100%, var(--pico-background-color)) 0%,
          color-mix(in lab, transparent 0%, var(--pico-background-color)) 100%
        );
        z-index: 1;
        height: 25%;
      }

      &:hover {
        max-height: max-content;
        box-shadow: 0 0.25em 1em 0.25em rgba(0, 0, 0, 0.75);
        outline: 0.5em solid var(--pico-background-color);
        border-radius: 0.25em;

        &::after {
          height: 0%;
        }
      }
      .checkbox {
        &:last-child {
          label {
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
