.filter-form {
  .form-group {
    &:has(.checkbox) {
      min-width: max-content;
      max-height: calc(
        (
            1rem * var(--pico-line-height) +
              var(--pico-form-element-spacing-vertical) * 2 +
              var(--pico-border-width) * 2
          ) + 2rem
      );
    }

    div:has(> .checkbox) {
      position: relative;
      max-height: calc(
        1rem * var(--pico-line-height) +
          var(--pico-form-element-spacing-vertical) * 2 +
          var(--pico-border-width) * 2
      );
      overflow: hidden;
      background: var(--pico-background-color);

      transition: 0.2s max-height ease-in-out;
      transition-delay: 250ms;
      box-shadow: 0em 0em 0em 0em
        color-mix(in lab, transparent 75%, var(--pico-contrast-border));

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--pico-background-color);
        background: linear-gradient(
          180deg,
          color-mix(in lab, transparent 100%, var(--pico-background-color)) 0%,
          color-mix(in lab, transparent 0%, var(--pico-background-color)) 100%
        );
        z-index: 1;
        height: 25%;
      }

      &:hover {
        max-height: max-content;
        box-shadow: 0em 0em 0.25em 0em
          color-mix(in lab, transparent 75%, var(--pico-contrast-border));
        &::after {
          height: 0%;
        }
      }
    }
  }
}
