form {
  &.inline {
    gap: 2em;
    justify-content: space-between;

    & > * {
    }

    & button,
    & [type="submit"] {
      flex-basis: 10em;
      height: auto;
    }
  }

  /*
  *:has([required]) {
    & label {
      &:after {
        content: "*";
        vertical-align: super;
        font-size: 0.8em;
      }
    }
  }
  */
}
