:root {
  --grid-gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  gap: var(--grid-gap);
}

/*[[[cog
import cog
cols = 12
for i in range(1, cols + 1):
    cog.outl(f""".grid-{i} {{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax({i}00px, 1fr));
  gap: var(--grid-gap);
}}""")
]]]*/
.grid-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--grid-gap);
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--grid-gap);
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--grid-gap);
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: var(--grid-gap);
}
.grid-5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: var(--grid-gap);
}
.grid-6 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: var(--grid-gap);
}
.grid-7 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: var(--grid-gap);
}
.grid-8 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  gap: var(--grid-gap);
}
.grid-9 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
  gap: var(--grid-gap);
}
.grid-10 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
  gap: var(--grid-gap);
}
.grid-11 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1100px, 1fr));
  gap: var(--grid-gap);
}
.grid-12 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1200px, 1fr));
  gap: var(--grid-gap);
}
/*[[[end]]] (checksum: 701fe3c76a649f9caef335229bc300fc)*/

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-gap);
  container-type: inline-size;
}

.col {
  flex: 1;
}

/*[[[cog
import cog
cols = 12
for i in range(1, cols + 1):
    width = f"{(100 / cols) * i}".rstrip("0").rstrip(".")
    cog.outl(f""".row .col-{i} {{
  flex: 0 0 {width}%;
}}""")
    cog.outl(f""".row .col.min-{i} {{
  min-width: {width}%;
}}""")
    cog.outl(f""".row .col.max-{i} {{
  max-width: {width}%;
}}""")
]]]*/
.row .col-1 {
  flex: 0 0 8.333333333333334%;
}
.row .col.min-1 {
  min-width: 8.333333333333334%;
}
.row .col.max-1 {
  max-width: 8.333333333333334%;
}
.row .col-2 {
  flex: 0 0 16.666666666666668%;
}
.row .col.min-2 {
  min-width: 16.666666666666668%;
}
.row .col.max-2 {
  max-width: 16.666666666666668%;
}
.row .col-3 {
  flex: 0 0 25%;
}
.row .col.min-3 {
  min-width: 25%;
}
.row .col.max-3 {
  max-width: 25%;
}
.row .col-4 {
  flex: 0 0 33.333333333333336%;
}
.row .col.min-4 {
  min-width: 33.333333333333336%;
}
.row .col.max-4 {
  max-width: 33.333333333333336%;
}
.row .col-5 {
  flex: 0 0 41.66666666666667%;
}
.row .col.min-5 {
  min-width: 41.66666666666667%;
}
.row .col.max-5 {
  max-width: 41.66666666666667%;
}
.row .col-6 {
  flex: 0 0 50%;
}
.row .col.min-6 {
  min-width: 50%;
}
.row .col.max-6 {
  max-width: 50%;
}
.row .col-7 {
  flex: 0 0 58.333333333333336%;
}
.row .col.min-7 {
  min-width: 58.333333333333336%;
}
.row .col.max-7 {
  max-width: 58.333333333333336%;
}
.row .col-8 {
  flex: 0 0 66.66666666666667%;
}
.row .col.min-8 {
  min-width: 66.66666666666667%;
}
.row .col.max-8 {
  max-width: 66.66666666666667%;
}
.row .col-9 {
  flex: 0 0 75%;
}
.row .col.min-9 {
  min-width: 75%;
}
.row .col.max-9 {
  max-width: 75%;
}
.row .col-10 {
  flex: 0 0 83.33333333333334%;
}
.row .col.min-10 {
  min-width: 83.33333333333334%;
}
.row .col.max-10 {
  max-width: 83.33333333333334%;
}
.row .col-11 {
  flex: 0 0 91.66666666666667%;
}
.row .col.min-11 {
  min-width: 91.66666666666667%;
}
.row .col.max-11 {
  max-width: 91.66666666666667%;
}
.row .col-12 {
  flex: 0 0 100%;
}
.row .col.min-12 {
  min-width: 100%;
}
.row .col.max-12 {
  max-width: 100%;
}
/*[[[end]]] (checksum: 82647125e09545e70aef84f75c946028)*/
