body {
  & > header {
    padding-top: 0;
  }
}

.inline {
  display: flex;

  &.gap {
    gap: 2em;
  }
}

a[role="button"] + button {
  display: inline-block;
  width: auto;
  margin-left: 0.5em;
  margin-bottom: 0;
}
