td,
th {
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }
}

.sort-item {
  display: inline-block;
  cursor: pointer;

  &::after {
    content: " ";
    display: inline-block;
    width: 1em;
  }
  &.sorting {
    &::after {
      display: none;
    }
  }

  svg {
    width: 1em;
  }
}
