td,
th {
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }
}

.right {
  & .sort-item {
    flex-direction: row-reverse;
  }
}

.sort-item {
  display: flex;
  cursor: pointer;
  white-space: nowrap;
  align-items: center;

  &::after {
    content: " ";
    display: inline-block;
    width: 1em;
  }

  &.sorting {
    &::after {
      display: none;
    }
  }

  svg {
    width: 1em;
    margin: 0 0.15em;
  }
}
