#customer-list {
  .customer {
    display: inline-flex;

    &:after {
      font-size: 0.3rem;
      margin-left: 0.5em;
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
    }

    &.uninvoiced {
      &::after {
        content: " ";
        background: var(--uninvoiced);
      }
    }

    &.unpaid {
      &:after {
        content: " ";
        background: var(--outstanding);
      }
    }

    &.overdue {
      &:after {
        content: " ";
        background: var(--overdue);
      }
    }
  }
}
