.money-input {
  & input::-webkit-outer-spin-button,
  & input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  & input[type="number"] {
    -moz-appearance: textfield;
  }

  display: flex;
  gap: 0.25em;

  & .controls {
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;

    & .button {
      height: 1.1em;
      padding: 0 0.5em;
      margin: 0;

      & .icon {
        height: 1.25em;
      }
    }
    & .icon {
      height: auto;
    }
  }
}
