.tab-wrapper {
  &:not(.active) {
    .tabs {
      .tab-content {
        display: none;
      }

      & > .tab-content:target {
        display: block;
      }

      &:not(:has(.tab-content:target)) {
        & > .tab-content:first-of-type {
          display: block;
        }
      }
    }
  }
}
