:root {
  --form-element-spacing-vertical: calc(
    var(--form-element-spacing-horizontal) / 2
  );
}

:root {
  --positive: #2e7d32;
  --positive-hover: #25972b;
  --negative: #b71c1c;
  --negative-hover: #bd2420;
  --warning: #f57c00;
  --warning-hover: #ff9800;

  --overdue: var(--negative);

  --fab-size: 3em;

  --pico-dropdown-background-color: var(--pico-background-color);
  --pico-dropdown-border-color: var(--pico-primary-border);
  --pico-dropdown-box-shadow: var(--pico-box-shadow);
  --pico-dropdown-color: var(--pico-color);
}
