.year-calender {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
  gap: 1rem;

  & > * {
    padding: 0.5rem 0.75em;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border: 1px solid var(--pico-muted-border-color);
  }
}
